body {
    display: flex;
    flex: 1 1 100vw;
    flex-wrap: wrap;
    height: 100vh;
}

main {
    display: flex;
    background-color: #8a8a8a8a;
    font-size: 1.2rem;
    flex: 20 1 500px;
    height: calc(100vh - 160px);
    flex-wrap: wrap;
    overflow: auto;
}

main section {
    height: auto;
    flex: 1 1 1000px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
}

main section:hover {
    box-shadow: 0 3px 10px #666;
    transition: 0.5s;
    transform: translateY(-3px);
}

main hr {
    border: 1px solid var(--marineE);
    margin: 5px 0;
}

main .section-especial {
    display: flex;
}

main img {
    width: 40%;
    border-radius: 5px;
}

@media (width <= 923px) {
    main {
        height: calc(100vh - 280px);
        order: 1;
    }
}

@media (width <=717px) {
    main .section-especial {
        display: block;
    }

    main img {
        width: 100%;
    }
}

main iframe {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}
ul li {
    border-radius: 5px;
    background: #f4f4f9;
    margin: 10px 0;
    padding: 10px;
    border-left: 4px solid var(--marineE);
}

.toma-kalica rect {
    fill: red;
}