body {
    display: flex;
    flex: 1 1 100vw;
    flex-wrap: wrap;
    height: 100vh;
}

main {
    display: flex;
    background-color: #8a8a8a8a;
    font-size: 1.2rem;
    flex: 20 1 500px;
    height: calc(100vh - 160px);
    flex-wrap: wrap;
    overflow: auto;
}

main section {
    height: auto;
    flex: 1 1 1000px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
}

main section:hover {
    box-shadow: 0 3px 10px #666;
    transition: 0.5s;
    transform: translateY(-3px);
}

main hr {
    border: 1px solid var(--marineE);
    margin: 5px 0;
}

main img {
    width: 40%;
    border-radius: 5px;
}

.about {
    margin-left: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about a {
    flex-grow: 1;
    height: 30px;
    width: 30px;
    margin: 0 1px;
}

.about svg path {
    width: 100%;
    transition: 0.5s;
    fill: var(--black);
}

.about svg:hover path {
    fill: var(--marineE);
}

@media (width <= 923px) {
    main {
        height: calc(100vh - 280px);
        order: 1;
    }
}

@media (width <=717px) {
    main img {
        width: 100%;
        margin-top: 20px;
    }

    .about {
        border-bottom: 0;
        height: 50px;
    }
    
    .about a {
        flex-grow: 0;
    }
}