aside {
    display: flex;
    background-color: #a1a1a1;
    font-size: 1.2rem;
    flex: 1 1 200px;
}

@media (width <= 923px) {
    aside {
        flex: 1 1 100vw;
        height: 100px;
        order: 2;
    }
}