* {
    scroll-behavior: smooth;
}

aside {
    display: flex;
    flex-direction: column;
    background-color: #a1a1a1;
    flex: 1 1 200px;
    height: calc(100vh - 160px);
    padding: 10px;
    overflow: auto;
}

aside h3 {
    font-size: 1rem;
    font-weight: 500;
    border-bottom: 2px #a9a9a9 solid;
    padding: 8px 4px;
}

aside h3:hover {
    font-weight: bold;
    transition: 0.5s;
    color: var(--marineE);
}

@media (width <= 923px) {
    aside {
        flex: 1 1 100vw;
        height: 100px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    aside h2 {
        display: none;
    }

    aside h3 {
        border: 0;
        font-size: 0.8rem;
    }
}

@media (width <= 503px) {
    aside h3 {
        font-size: 0.6rem;
    }
}