footer {
    display: flex;
    background-color: var(--black);
    font-size: 1rem;
    flex: 1 1 100vw;
    height: 80px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .direitos {
    display: flex;
    justify-content: center;
    text-align: center;
}

#dash {
    margin: 0 10px;
}

.redes {
    margin-left: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redes a {
    flex-grow: 1;
    height: 30px;
    width: 30px;
    margin: 0 1px;
}

.redes svg path {
    width: 100%;
    transition: 0.5s;
    fill: var(--white);
}

.redes svg:hover path {
    fill: var(--marineE);
}

@media (width <= 923px) {
    footer {
        order: 3;
        height: 100px;
        flex-direction: column;
    }

    footer .direitos {
        flex-direction: column;
    }

    .redes {
        margin-top: 5px;
    }

    #dash {
        display: none;
    }
}