footer {
    display: flex;
    background-color: var(--black);
    font-size: 1.2rem;
    flex: 1 1 100vw;
    height: 100px;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

#dash {
    margin: 0 10px;
}

@media (width <= 923px) {
    footer {
        order: 3;
        font-size: 1rem;
        flex-direction: column;
    }

    #dash {
        display: none;
    }
}