body {
    display: flex;
    flex: 1 1 100vw;
    flex-wrap: wrap;
    height: 100vh;
}

main {
    display: flex;
    background-color: #a1a1a1;
    font-size: 1.2rem;
    flex: 20 1 500px;
    height: calc(100vh - 186px);
    flex-wrap: wrap;
    overflow: auto;
}

main section {
    width: 100%;
    height: 2000px;
    margin: 10px;
    background: linear-gradient(#9a9a9a, #5a5a5a, #1a1a1a);
}

@media (width <= 923px) {
    main {
        height: calc(100vh - 330px);
        order: 1;
    }
}