body {
    display: flex;
    flex: 1 1 100vw;
    flex-wrap: wrap;
    height: 100vh;
}

main {
    padding: 10px;
    display: flex;
    background-color: #8a8a8a8a;
    font-size: 1.2rem;
    flex: 20 1 500px;
    height: calc(100vh - 160px);
    flex-wrap: wrap;
    overflow: auto;
}

main section {
    height: auto;
    flex: 1 1 1000px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
}

main section:hover {
    box-shadow: 0 3px 10px #666;
    transition: 0.5s;
    transform: translateY(-3px);
}

main hr {
    border: 1px solid var(--marineE);
    margin: 5px 0;
}

main ul {
    margin-left: 30px;
}

main li {
    font-size: 0.9rem;
}

main section p {
    text-align: start;
    font-size: 0.9rem;
}

@media (width <=923px) {
    main {
        height: calc(100vh - 280px);
        order: 1;
    }

}

@media (width <=717px) {
    main section p {
        text-align: justify;
    }
}